<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Student </title>
</head>

<body align="center">
    <h1> Student Registration Form </h1>

    <form action="/students" method="POST">
        Name : <input type="text" name="name" placeholder="Name" required> <br><br>
        Age : <input type="number" name="age" placeholder="Age" required><br><br>
        Gender : <input type="text" name="gender" placeholder="Gender" required><br><br>
        Semester : <input type="number" name="sem" placeholder="Semester" required><br><br>
        Division : <input type="text" name="div" placeholder="Division" required><br><br>
        DOB : <input type="date" name="dob" placeholder="Date of Birth" required><br><br>
        <button type="submit">Add Student</button>
    </form>
</body>

</html>